<div class="jumbotron">
  <div class='row body_images'>
    <div class='col-md-8'>
      <h1>The Hamster Network</h1>
      <h2>A place for updates on the hamster in my dad's chest</h2>
      <br/>
      <p>When the doctor first claimed that my dad had cancer, I briefly thought the words he uttered was "it's a hamster." Riffing on that moment later as a family over dinner after swallowing the intense news of Mark's diagnoses with <a href="http://www.lymphoma.org/site/pp.asp?c=bkLTKaOQLmK8E&b=6300153">Diffuse Large B-Cell Lymphoma</a>, we decided to officially begin calling the 11cm wide growth in my dad's chest... you guessed it&#8210;'the hamster.' Thus, the birth of the name of this site.</p>
      <p>Despite how useful my family's somewhat dark but great sense of humor was in the initial few days of shock, we've begun to realize that we're going to need as much help as we can get throughout the process of smoking this hamster out of its cave. <span>If you feel you have anything you might be able to donate to get my dad through his next couple of months of chemotherapy treatment and doctor visits, please click the cheese-colored PayPal button to the right! If you can't contribute monetarily but still would like to help out, <a href="mailto:oliverswitzer@gmail.com?Subject=Down%20With%20Hamster!" target="_top">shoot me an email</a>.</span></p>
      <p>Enjoy some photos of my dad and family below (more to come soon!)</p>
    </div>
    <div class='col-md-4'>
      <img src="/img/fat_hamster.jpg">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="K29V79AEWMS8G">
      <input class="paypal_button" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img class="paypal_button" alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>
  </div>
  
 <!--  <div class='row'>
    <div class="col-md-6"></div>
  </div> -->
</div>

<div class='row body_images'>
  <div class='col-md-4'>
    <img src="/img/dad_graduation.jpg">
  </div>
  <div class='col-md-8'>
    <img src="/img/dad_with_mateo_2.jpg">
  </div>
</div>